workflow_n8n.json
{
  "updatedAt": "2026-03-31T18:52:44.687Z",
  "createdAt": "2026-03-31T18:52:44.687Z",
  "id": "D30G2WYX7xZ2COix",
  "name": "Nuvemshop: Recuperação de Carrinho Abandonado (AI Manager)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuvemshop-abandoned-cart",
        "options": {}
      },
      "id": "76657930-1090-482a-9e19-563b782c5f18",
      "name": "Webhook: Carrinho Abandonado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body;\nconst checkout = body.checkout;\nconst settings = body.settings;\n\nconst message = settings.message_template\n  .replace(/{customer_name}/g, checkout.customer_name || 'Amigo(a)')\n  .replace(/{cart_url}/g, checkout.checkout_url)\n  .replace(/{total}/g, new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(checkout.total));\n\nreturn [{\n  json: {\n    ...checkout,\n    message,\n    wuzapi_url: settings.wuzapi_url,\n    wuzapi_token: settings.wuzapi_token,\n    wuzapi_user_token: settings.wuzapi_user_token,\n    backend_url: body.origin\n  }\n}];"
      },
      "id": "e93266bd-c19b-4654-8c01-72901616c616",
      "name": "Preparar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        250
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "df19482b-689e-4e33-97ae-3f9fe5385765",
      "name": "Aguardar (30 min)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wuzapi_url }}/chat/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.wuzapi_user_token || $json.wuzapi_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.customer_phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "d05f321b-8517-4951-87a1-5a04acc8e216",
      "name": "Enviar WhatsApp (WuzAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backend_url }}/api/abandoned-cart/mark-sent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "checkout_id",
              "value": "={{ $json.checkout_id }}"
            }
          ]
        }
      },
      "id": "903c804b-76b6-45ef-82ec-484bd795694a",
      "name": "Marcar como Enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        250
      ]
    }
  ],
  "connections": {
    "Webhook: Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "Aguardar (30 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar (30 min)": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (WuzAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (WuzAPI)": {
      "main": [
        [
          {
            "node": "Marcar como Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e2525206-7c2f-4e6d-96b5-8b45e5f1dc7e",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-31T18:52:44.687Z",
      "createdAt": "2026-03-31T18:52:44.687Z",
      "role": "workflow:owner",
      "workflowId": "D30G2WYX7xZ2COix",
      "projectId": "5aSVD7dUeyBlrBhE",
      "project": {
        "updatedAt": "2025-11-04T16:00:07.792Z",
        "createdAt": "2025-11-04T15:58:58.122Z",
        "id": "5aSVD7dUeyBlrBhE",
        "name": "Lucas Duarte <plannerfoto@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-04T15:58:58.122Z",
            "createdAt": "2025-11-04T15:58:58.122Z",
            "userId": "a4893dba-f99c-4457-8fee-60bf9a7c98a2",
            "projectId": "5aSVD7dUeyBlrBhE",
            "user": {
              "updatedAt": "2026-03-31T04:42:29.851Z",
              "createdAt": "2025-11-04T15:58:57.121Z",
              "id": "a4893dba-f99c-4457-8fee-60bf9a7c98a2",
              "email": "plannerfoto@gmail.com",
              "firstName": "Lucas",
              "lastName": "Duarte",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-04T16:00:28.045Z",
                "personalization_survey_n8n_version": "1.116.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dKiJgoxYu6bLqAlU",
                "userActivatedAt": 1770277542677,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766498032493
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}